<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/masterTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

   <ui:define name="content">
       <div id="content" class="center_content">
                <!-- / header -->
        <div class="main">
            
        <!-- content -->
	<section id="content">
		<article class="col2 pad_left1">
                    <h2 style="text-align: center"><h:outputText value="#{loginBean.user.nombre}" styleClass="texto" /> este es su perfil de usuario</h2>
                   <h:form styleClass="form_settings_profile">
                   <h:panelGroup layout="block" >
                            <strong><h:outputText value="Email: " styleClass="outText" /></strong><br/><br/>
                            <label class="pad_bot2"><h:outputText value="#{loginBean.user.login}" styleClass="textoBlanco" /></label><br/><br/>
                            <strong><h:outputText value="Nombre: " styleClass="outText" /></strong><br/><br/>
                            <span class="pad_bot2"><h:outputText  value="#{loginBean.user.nombre}" styleClass="textoBlanco" /></span><br/><br/>
                            <strong><h:outputText value="Apellidos: " styleClass="outText" /></strong><br/><br/>
                            <span class="pad_bot2"><h:outputText value="#{loginBean.user.apellidos}" styleClass="textoBlanco" /></span><br/><br/>
                            <strong><h:outputText value="Telefono: " styleClass="outText" /></strong><br/><br/>
                            <span class="pad_bot2"><h:outputText value="#{loginBean.user.telefono}" styleClass="textoBlanco"/></span><br/><br/> 
                            <h:outputText value="SUS DATOS HAN SIDO MODIFICADOS" style="color:green; font-weight: bold" ></h:outputText>
                    </h:panelGroup>
                 </h:form>
		</article>
	</section>
<!-- / content -->
        </div>
        </div>   
 
    </ui:define>
   
</ui:composition>

