<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Editor de aplicaciones</title>
        <h:outputScript library="js" name="editor.js" />
        <h:outputStylesheet library="css" name="editorApps.css"/>
    </h:head>
    <h:body>
        
        <h2>Editando: <h:outputLabel value="#{editorBean.app.nombre}" id="nombreApp"/></h2>
        <h:form styleClass="right">
            <h:commandButton action="#{editorBean.guardarAplicacion()}" value="Guarda la aplicación" styleClass="signupButton"/>
            <h:commandButton action="#{editorBean.salir()}" value="Salir del editor" styleClass="signupButton"/>
        </h:form>
        <!--<div id="general">-->
       <h:form id="formsTab">
            <h:inputHidden id="guardarButton" value="#{editorBean.cadena}"/>
            <p:remoteCommand name="remoteChangeCommand" process="guardarButton"/>
        </h:form>
            <!--<div id="dragdrop">-->

                <div id="title-izq">
                    <h2>Funcionalidades</h2>
                    
                    <ul id="Fun">
                        <c:forEach var="comp" items="#{editorBean.itemsDisponibles}">
                            <li class="draggable">
                                <input type="hidden" value="#{comp.nombre}" id="#{comp.nombre}">#{comp.nombre} </input>
                                <br/>
                                <h:graphicImage url="#{comp.imagen}" height="100" width="100" ></h:graphicImage>
                            </li>
                        </c:forEach>
                        
                    </ul>
                </div>
                <div id="title-der">
                    <h2>Posición en Dispositivo</h2>
                    <div id="bg">
                        
                        <ul id="Der">
                            <c:forEach var="compD" items="#{editorBean.itemsDerecha}">
                                <li class="draggable">
                                    <input type="hidden" value="#{compD.nombre}" id="#{compD.nombre}">#{compD.nombre}</input>
                                    <br/>
                                    <h:graphicImage url="#{compD.imagen}" height="100" width="100"></h:graphicImage>
                                </li>
                            </c:forEach>
                        </ul>
                        <ul id="Izq">
                            
                            <c:forEach var="compI" items="#{editorBean.itemsIzquierda}">
                                <li class="draggable">
                                    <input type="hidden" value="#{compI.nombre}" id="#{compI.nombre}">#{compI.nombre}</input>
                                    <br/>
                                    <h:graphicImage url="#{compI.imagen}" height="100" width="100"></h:graphicImage>
                                </li>
                            </c:forEach>
                            
                        </ul>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->

    </h:body>
</html>
