<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/masterTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">
                    


    <ui:define name="content">

        <div id="content" class="center_content">
            <!-- / header -->
            <div class="main">
                <!-- content -->
                <section id="content">
                    <article class="col1 ">
                        <div class="pad_left1">
                            <h:form>
                                <h:dataTable id="tablaGrupos" value="#{grupoBean.gruposUsuario}" border="1" var="grupo" >
                                    <f:facet name="header">
                                        <h2><h:outputText value="Todos mis grupos"/></h2><br/> 
                                    </f:facet>

                                    <h:column >
                                        <h:outputLabel  value="#{grupo.idgrupo.nombre}" styleClass="textoTable"/>
                                    </h:column>

                                    <h:column>
                                        <h:commandButton value="Ver" action="grupos.xhtml" styleClass="signupButtonEditar">
                                            <f:setPropertyActionListener value="#{grupo.idgrupo}" target="#{loginBean.grupoSeleccionado}"/>
                                       </h:commandButton>
                                    </h:column>
                                    <h:column>
                                        <h:commandButton styleClass="borrarButton" action="#{grupoBean.borrarGrupo}" rendered="#{grupo.idgrupo.propietario == grupoBean.usuarioLogueado}">
                                            <f:setPropertyActionListener value="#{grupo.idgrupo}" target="#{grupoBean.grupoSeleccionado}"/>
                                        </h:commandButton>
                                    </h:column>
                                    <h:column>
                                        <h:commandButton styleClass="leaveButton" action="#{grupoBean.leaveGrupo}" rendered="#{grupo.idgrupo.propietario != grupoBean.usuarioLogueado}">
                                            <f:setPropertyActionListener value="#{grupo}" target="#{grupoBean.grupoxuserToLeave}"/>
                                        </h:commandButton>
                                    </h:column>
                                </h:dataTable> 
                            </h:form>
                        </div>
                    </article>   
                    <article class="col2">  
                        <!--Para crear un nuevo grupo-->
                        
                        <h:form class="form_settings_inside">
                            
                            <h:panelGroup>
                                <h:outputLabel value="Nombre grupo" styleClass="texto"/><br/>
                                <h:inputText id="nombreGrupo" value="#{grupoBean.nombreGrupo}" styleClass="inputTextSignUp"/>
                                <br/><h:outputText value="#{grupoBean.errorGrupo}" style="color:red"/><br/>
                                <h:commandButton action="#{grupoBean.crearGrupo}" value="Nuevo Grupo" styleClass="signupButton"/>
                            </h:panelGroup>
                        </h:form>
                        <br/>

                        <!--Para mostrar informacion de un grupo-->
                        <h:form class="form_grupos" rendered="#{grupoBean.grupoSeleccionado!=null}">

                            <h:panelGrid columns="2">
                                <h:outputText value="Nombre Grupo: " styleClass="texto" />
                                <h:outputText value="#{grupoBean.grupoSeleccionado.nombre}" styleClass="textoBlanco"/>
                                <h:outputText value="Propietario del Grupo: " styleClass="texto" />
                                <h:outputText value="#{grupoBean.grupoSeleccionado.propietario.login}" styleClass="textoBlanco"/>

                            </h:panelGrid>
                            <br />
                            <h:panelGrid columns="2">
                                <h:outputText value="Añadir usuario al grupo: " styleClass="texto" /><br/>
                                <h:inputText value="#{grupoBean.loginUsuarioGrupo}" styleClass="inputTextSignUp" />
                               <br/>
                                <h:outputText value="#{grupoBean.error}" style="color:red"/>
                                <br/>
                                <h:commandButton action="#{grupoBean.addUsuarioAGrupo()}" value="Añadir" styleClass="signupButton"/>
                                
                            </h:panelGrid>
                            <p:tabView id="tabView">
                                
                                <p:tab id="usuariosGrupo" title="Usuarios del grupo">
                                    <h:dataTable var="usuarioGrupo" value="#{grupoBean.usuariosGrupoSeleccionado}">
                                          <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Nombre " styleClass="texto" /></f:facet><br/>
                                            <h:outputText value="#{usuarioGrupo.idusuario.nombre}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Email " styleClass="texto" /></f:facet><br/>
                                            <h:outputText value="#{usuarioGrupo.idusuario.login}"/>
                                        </h:column>
                                        <h:column rendered="#{grupoBean.grupoSeleccionado.propietario != grupoBean.usuarioLogueado}">
                                            <h:commandButton styleClass="borrarButton" action="#{grupoBean.borrarUsuarioGrupo}" rendered="#{grupoBean.grupoSeleccionado.propietario==grupoBean.usuarioLogueado}" >
                                                <f:setPropertyActionListener value="#{usuarioGrupo}" target="#{grupoBean.usuarioAEliminar}"/>
                                            </h:commandButton>
                                        </h:column> 

                                    </h:dataTable>
                                </p:tab>

                                <p:tab id="aplicacionesGrupo" title="Aplicaciones del grupo">
                                    <h:dataTable var="a" value="#{grupoBean.aplicacionesGrupoSeleccionado}">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Nombre" styleClass="texto" /></f:facet><br/>
                                            <h:outputText value="#{a.nombre}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText value="Propietario" styleClass="texto" /></f:facet><br/>
                                            <h:outputText value="#{a.propietario.nombre}"/>
                                        </h:column>
                                        <h:column>
                                            <h:commandButton value="Editar" action="#{editorBean.cargarItems()}" styleClass="signupButtonEditar">
                                                <f:setPropertyActionListener value="#{a}" target="#{editorBean.app}"/>
                                            </h:commandButton>
                                        </h:column>
                                    </h:dataTable>
                                </p:tab>



                            </p:tabView>


                        </h:form>
                    </article>  
                </section>

                <!-- / content -->
            </div>

        </div>   


    </ui:define>
</ui:composition>
