<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/masterTemplate.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">
    
    
    
    <ui:define name="content">
        <div id="content">
            <!-- / header -->
            <div class="main">
                <!-- content -->
                <!--<section id="content">-->
                    <article class="col1">
                        <h2>Última Actividad</h2>
                        
                        
                        
                            <h:form>

                                <h:dataTable id="tabApp" value="#{loginBean.aplicacionesTamano3}" border="1" var="a">
                                    <f:facet name="header"><h2> Aplicaciones </h2></f:facet>

                                    <h:column>
                                        <h:outputLabel  value="#{a.nombre}" styleClass="textoTable"/>
                                    </h:column>
                                    
                                    <h:column>
                                        <h:commandButton value="Editar" styleClass="signupButtonEditar" action="#{editorBean.cargarItems()}">
                                            <f:setPropertyActionListener value="#{a}" target="#{editorBean.app}"/>
                                        </h:commandButton>
                                    </h:column>
                                </h:dataTable>
                      
                                <h:dataTable id="tabGrup" value="#{loginBean.gruposTamano3}" border="1" var="grupo" >
                                    <f:facet name="header">
                                        <h2>Grupos</h2><br/> 
                                    </f:facet>

                                    <h:column >
                                        <h:outputLabel  value="#{grupo.nombre}" styleClass="textoTable"/>
                                    </h:column>

                                    <h:column>
                                        <h:commandButton value="Ver" action="grupos.jsf" styleClass="signupButtonEditar">
                                            <f:setPropertyActionListener value="#{grupo}" target="#{loginBean.grupoSeleccionado}"/>
                                       </h:commandButton>
                                    </h:column>
                                </h:dataTable>  
                             </h:form>
             
                    </article>
                    <article class="col2">
                        <h2 style="margin-left: 515px">Bienvenido <h:outputText value="#{loginBean.user.nombre}" styleClass="texto"/> a su cuenta de usuario</h2>
                        <h:form styleClass="form_settings_profile">
                            <h:panelGroup layout="block" >
                            <h3><h:outputText value="Todas mis aplicaciones"></h:outputText></h3><br/>
                            <ul>
                                <ui:repeat value="#{loginBean.aplicacionesUsuario}" var="a">
                                    <li>
                                        <h:commandButton value="Editar" styleClass="signupButtonEditar" action="#{editorBean.cargarItems()}">
                                            <f:setPropertyActionListener value="#{a}" target="#{editorBean.app}"/>
                                        </h:commandButton>
                                        <h:outputText value="#{a.nombre}"></h:outputText> 
                                    </li>
                                </ui:repeat>
                            </ul>
                            <br/>
                            <h3><h:outputText value="Todos mis grupos"></h:outputText></h3><br/>
                            <ul>
                                <ui:repeat value="#{loginBean.grupos}" var="g">
                                    <li>
                                       <h:commandButton value="Ver" styleClass="signupButtonEditar" action="grupos.jsf">
                                            <f:setPropertyActionListener value="#{g}" target="#{loginBean.grupoSeleccionado}"/>
                                       </h:commandButton>
                                        <h:outputText value="#{g.nombre}"></h:outputText>
                                    </li>
                                </ui:repeat>
                            </ul>
                            <br/>
                            </h:panelGroup>
                        </h:form>
                    </article>
                <!--</section>-->
                <!-- / content -->
            </div>
            
        </div>   
    </ui:define>
</ui:composition>
