<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./templates/loginTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    
    
    <ui:define name="content">
        <!--<h:panelGroup style="display: inline">-->
            <h:panelGroup style="float: left">
        <h:form styleClass="form_settings">
            <h3><h:outputLabel styleClass="texto"> Registrate!</h:outputLabel></h3>
            <h:panelGroup layout="block" >
                <h:outputText value="E-mail" styleClass="texto"/><br/>
                <h:inputText id="email" value="#{loginBean.login}" styleClass="inputTextSignUp" validator="#{validationBean.validateLogin}" alt="E-mail"/>
                <h:message for="email" style="color:red" />
                <br/>
                
                <h:outputText value="Nombre" styleClass="texto"/><br/>
                <h:inputText id="nombre" value="#{loginBean.nombre}" styleClass="inputTextSignUp" validator="#{validationBean.validateNombre}"/>
                <h:message for="nombre" style="color:red" />
                <br/>
                
                <h:outputText value="Apellidos" styleClass="texto"/><br/>
                <h:inputText id="apellidos" value="#{loginBean.apellidos}" styleClass="inputTextSignUp" validator="#{validationBean.validateApellido}"/>
                <h:message for="apellidos" style="color:red" />
                <br/>
                
                <h:outputText value="Telefono" styleClass="texto"/><br/>
                <h:inputText id="telefono" value="#{loginBean.telefono}" styleClass="inputTextSignUp" validator="#{validationBean.validateTelefono}"/>
                <h:message for="telefono" style="color:red" />
                <br/>
                
                <h:outputText value="Password" styleClass="texto"/><br/>
                <h:inputSecret id="password" value="#{loginBean.password1}" styleClass="inputTextSignUp" validator="#{validationBean.validatePassword2}">
                    <f:attribute name="password2" value="#{password2}" />
                </h:inputSecret>
                <h:message for="password" style="color:red" />
                <br/> 
                
                <h:outputText value="Confirma Password" styleClass="texto"/><br/>
                <h:inputSecret id="password2" binding="#{password2}" styleClass="inputTextSignUp"/>
                <h:message for="password" style="color:red" />
                <br/>
                
                <h:commandButton action="#{loginBean.signIn()}" value="Registrate" styleClass="signupButton"/>
            </h:panelGroup>
        </h:form>
        </h:panelGroup>
        <br/>
        <!--</h:panelGroup>-->
    </ui:define>
    
       
</ui:composition>
