<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    
    <ui:composition>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>
                <ui:insert name="title" />
            </title>
            <h:outputStylesheet name="css/style.css" />
            <ui:insert name="scriptmenubar" />
        </h:head>
        <h:body styleClass="body1 main">
            
            
            <!-- Titulo, logo y navegación -->
            <header>
                <nav>
                    <div class="nav">
                        <div class="left">
                            <a href="login.jsf" id="logo"><img src="/Skins4-war/resources/images/Skins4Logo.png" alt="Logo de la pagina web"/></a>
                            <span id="slogan">Accesible Mobile Applications</span>
                        </div>
                        <h:form styleClass="loginForm">
                            <h:outputText value="E-mail" styleClass="texto"/>
                            <h:inputText id="email" value="#{loginBean.login}" styleClass="inputText" validator="#{validationBean.validateLogin}"/>
                            
                            <h:outputText value="Password" styleClass="texto"/>
                            <h:inputSecret id="password" value="#{loginBean.password1}" styleClass="inputText" validator="#{validationBean.validatePassword}" alt="Password para login"/>
                            
                            <h:commandButton action="#{loginBean.logIn()}" value="Login!!" styleClass="botones"/>
                            <br/>
                            <h:outputText value="#{loginBean.error}" style="color:red"/>
                            <h:message for="email" style="color:red" />
                            <br/>
                            <h:message for="password" style="color:red" />
                            
                        </h:form>
                    </div>
                </nav>
            </header>
            
            <!-- Contenido principal -->
            <div id="site_content_login">
                <section>
                    <ui:insert name="content">
                        
                    </ui:insert>
                </section>
            </div>
            
            <!-- Pie de página -->
            <footer>
                <ui:include src="footer.xhtml"/>
            </footer>
        </h:body>
    </ui:composition>
</html>
