<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            
            <h:outputStylesheet name="./css/reset.css"/>
            <h:outputStylesheet name="./css/style.css"/>
            
            <title>Skins4</title>
        </h:head>
        
        <h:body class="body1 main">
<!--            <div class="body1">
                <div class="main">-->
                    <!-- header -->
                    <header>
                        <nav>
                            <div class="nav">
                                <div class="left">
                                    <a href="index.jsf" id="logo"><img src="/Skins4-war/resources/images/Skins4Logo.png" alt="Logo de la pagina web"/></a>
                                    <span id="slogan">Accesible Mobile Applications</span>
                                </div>
                                <div class="right">
                                    
                                    <ul id="menu">
                                        <li><a href="index.jsf">Inicio</a></li>
                                        <li><a href="aplicaciones.jsf">Mis Aplicaciones</a></li>
                                        <li><h:form>
                                                <h:commandLink value="Mis Grupos" action="grupos.jsf">
                                                        <f:setPropertyActionListener value="#{null}" target="#{loginBean.grupoSeleccionado}"/>
                                            </h:commandLink></h:form></li>
                                        <li><a href="perfil.jsf">Perfil</a></li>
                                        
                                    </ul>
                                    <h:form>
                                        <h:commandButton action="#{loginBean.logOut()}" value="Salir" styleClass="logout botones"/>
                                    </h:form>
                                </div>
                            </div>
                        </nav>
                    </header>
<!--                </div>
            </div>-->
            <!-- / header -->
            
            <div id="site_content">
                    <ui:insert name="content">
                    </ui:insert>
            </div>
            
            <footer>
                <ui:include src="footer.xhtml"/>
            </footer>
        </h:body>
    </ui:composition>
</html>
