
body {
    background-image: url('/Skins4-war/resources/images/editor-bg.jpg');
    width: fit-content;
    height: 110%;
    background-repeat: no-repeat;
}

h1 {
	margin: 0 0 0.25em 0;
	font-size: 1.7em;
}


h2 {
	margin: 0 0 0.25em 0;
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
}

h4, h5, h6, input, select, li {
	margin: 0;
	font-size: 1em;
}

.comment
{
	font-style: italic;
	color: #999;
}

table
{
	border-collapse: collapse;
}

td, th
{
	border: 0px solid #000;
	padding: 0.3em;
	text-align: left;
	vertical-align: top;
}

caption
{
	font-size: 1.3em;
	text-align: left;
}

ul
{
	position: relative;
	width: 11em;
	list-style-type: none;
	margin: 0;
	padding: 0.5em;
	background: #fff;
	color: #000;
	margin-bottom: 1em;
        //border: 2px solid #666;
}
  
ul.instructions 
{ 
    width: auto; 
    list-style-type: disc; 
    margin-left: 0; 
    padding: 0.5em; 
    background: #fff; 
    color: #000; 
    margin-bottom: 1em;  
} 
  
ul#popup 
{ 
    position: absolute; 
    width: 10em; 
    padding: 0.3em; 
    background: #ccc; 
    color: #000; 
    border: 1px solid #000; 
    top: 1em; 
    left: 1em; 
    cursor: default; 
    z-index: 40; 
} 
  
ul#popup li 
{ 
    text-align: left; 
    margin: 0.3em 0; 
    padding: 0 0.2em; 
} 
  
ul#popup li.focus, ul#popup li.hover 
{ 
    background: #00c; 
    color: #fff; 
} 

ul.highlight
{
	background: #c00;
	color: #000;	
        border: 10px solid #c00;
}

li.draggable
{
	cursor: move;
}

ul li.hover, ul li.focused
{
	background: #fc0;
}

li.draggable
{
	position: relative;
	padding: 0.5em;
	width: 10em;
	text-align: center;
        font-weight: bold;
        color: #0033ff;
        line-height: 2.2;
}

li.empty{
    position: relative;
    //border: 1px solid #666;
    padding: 0.5em;
    width: 10em;
    height: 150px;
    text-align: center;
    color: #000;
    /*background: #fff;*/
    line-height: 10;
}

#dragdrop
{
    margin-top: 50px;
    border: 2px solid #666;
}

#Fun
{
    background: transparent;
    float: left;
    /*border: 2px solid #666;*/
}

#pantalla
{
    float: right;
    width: 400px;
    height: 900px;
    margin-left: 205px;
    /*background: url("Pantalla.png") no-repeat;*/
    /*border: 2px solid #666;*/
}

#Der
{
    background: transparent;
    float: right;
    margin-top: 160px;
    width: 180px;
    height: 600px;
    margin-right: 25px;
}

#Izq
{
    background: transparent;
    margin-top: 160px;
    margin-left: 10px;
    float: right;
    width: 180px;
    height: 600px;
}

#title-der
{
    margin-top: 60px;
    margin-right: 150px;
    float: right;
    text-align: center;
    
}

#title-izq
{
    margin-top: 60px;
    margin-left: 150px;
    float: left;
    text-align: center;
}

#bg {
    background: url('/Skins4-war/resources/images/Pantalla.png') no-repeat ;
    width: 480px;
    height: 957px;
}

.signupButton {
    box-shadow: 0px 0px 8px #000000;
    padding: 5px; 
    width: 170px; 
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #FFF; 
    color: #000;
    float: right;
    margin-right: 5px;
}

.right {
    float:right;
    margin-top: 0px;
    margin-right: 10px;
}
.guardarApp {
    margin-right:300px;
}

#nombreApp{
    color: #c00;
}