/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2014, 5:27:46 PM
    Author     : masterinftel22
*/

#wrapper{
    width: 100%;
}

#site_content {
    width: 100%;
    overflow: auto;
    height: 100%;
}
.main {
    margin:0 auto;
    width:auto;
    height: 1200px;
}

nav {
    display: block;
}

article{
    display: inline;
    background:transparent;
    border:0 none;
    font-size:100%;
    margin:0;
    padding: 0;
    border:0;
    outline:0;
    vertical-align:top;
    color: #FFE;
}

.body1 {
    /*background:url(/Skins4-war/resources/images/bg_top.jpg) top center no-repeat #1e2023;*/
    background: #000;
}

#logo {
    display:block;
    background:url(/Skins4-war/resources/images/Skins4Logo.png) 0 0 no-repeat;
    width:300px;
    height:74px;
    text-indent:-5000px; 
    margin-left: 150px; 
    margin-top: 10px
}

.left {
    float:left
}
.right {
    float:right
}

#slogan {
    display:block; 
    color: #FFF; 
    margin-left: 150px;
}

.loginForm {
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}

.inputText {
    padding: 5px; 
    width: 200px; 
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #FFF; 
    color: #47433F;
}
.inputTextSignUp{
    padding: 5px; 
    font: 100% arial; 
    font-size: large;
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #FFF; 
    color: #47433F;
    width: 100%;
}

.outputTextSignUp{
    padding: 5px; 
    font: 100% arial; 
    font-size: large;
 //   border: 1px solid #FFF; 
    border-radius: 5px;
   // background: #FFF; 
    color: #47433F;
    width: 300px;
}

.outText{
    padding: 5px; 
    font: 100% arial; 
    font-size: large;
  //  border: 1px solid #FFF; 
    border-radius: 5px;
   // background: #FFF; 
    color: #59bfff;
    width: 300px;
}

.texto {
    color: #59bfff; 
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-weight: 600;
}

.textoTable {
    color: #59bfff; 
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 50px;
}

.loginForm {
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}

.botones{
    padding: 5px; 
    width: 150px; 
    margin-left: 15px;
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #59bfff;
    color: #FFF;
    float:right;
}

.form_settings {
    box-shadow: 0px 0px 8px #FFFFFF;
    padding: 5% 5% 5% 5%;
    width: 100%;
    height: auto;
    margin-left: 150px;
    margin-top: 120px;
}

.form_grupos {
    box-shadow: 0px 0px 8px #FFF;
    padding: 5% 5% 5% 5%;
    width: 500px;
    margin: 15px 0 0 0;
    margin-left: 475px;
    margin-top: 10px;
    margin-bottom: 200px;
}

.form_settings_inside {
    box-shadow: 0px 0px 8px #FFFFFF;
    padding: 5% 5% 5% 5%;
    width: 500px;
    margin-left: 475px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #59BEEE;
    font-size: large;
}

.form_settings_profile {
    box-shadow: 0px 0px 10px #FFFFFF;
    padding: 5% 5% 5% 5%;
    width: 500px;
    height: auto;
    margin: 15px 0 0 0;
    margin-left: 415px;
    margin-top: 50px;
    color: #FFF;
}

.signupButton {
    padding: 5px; 
    width: 170px; 
    height: 35px;
    margin-top: 15px;
    margin-bottom: 10px;
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #59bfff; 
    color: #FFF;
}

.signupButtonSmall {
    padding: 5px; 
    width: 50px; 
    height: 25px;
    margin-top: 10px;
    margin-left: 30px;
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #59bfff; 
    color: #FFF;
}

.signupButtonEditar {
    padding: 5px; 
    width: 60px; 
    height: 30px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 8px;
    font: 100% arial; 
    border: 1px solid #000000; 
    border-radius: 5px;
    background: #59bfff; 
    color: #FFF;
}

.icons{
    height: 54px;
}
footer {
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    font: normal 100% 'lucida sans unicode', arial, sans-serif;
    background: #000;
    height:6%;
    font-size:12px;
    line-height:18px;
    text-align:center;
    bottom: 0;
    position: fixed;
    padding-top: 10px;
}

footer a
{ 
    color: #FFF;
    text-decoration: none;
}

footer a:hover
{ 
    color: #FFF;
    text-decoration: underline;
}

ul {
    padding-left: 70px;
    font-size: large;
    color: #59bfff;
    line-height: 100%;
    list-style: none;
}

.logout {
    margin-top: 10px;
    margin-right: 20px;
}
#menu {
    float:left;
    padding-top:8px;
    padding-left:5px;
    width:570px
}
#menu li {
    float:left;
    padding-left:1px
}
#menu li a {
    display:block;
    font-size:16px;
    text-transform:uppercase;
    color:#fff;
    text-decoration:none;
    line-height:30px;
    behavior:url(js/PIE.htc);
    position:relative;
    padding:0 20px;
    margin:1px 0
}
#menu li a:hover, #menu #menu_active a {
    border-bottom:1px solid #373b40;
    border-top:1px solid #000;
    background:#191a1e;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin:0
}

#content {
  //  width:fit-content;
    //height: fit-content;
    width: 100%;
    height: 100%;
    overflow:hidden;
    background: url(/Skins4-war/resources/images/gradiente_login.jpg) #1e2023;
    
}

.pad1 {
    padding:0 50px 35px 60px
}

.link1 {
    text-decoration:none;
}

.link1:hover {
    text-decoration:underline
}

h2 {
    font-size:28px;
    color:#FFE;
    line-height:38px;
    padding:30px 0 16px 0;
    font-weight:400;
    letter-spacing:-1px
}
h3 {
    font-size: 20px;
    padding-left: 35px;
}

.col1 {
    width:320px;
    /*background:lightgray;*/
    box-shadow: 5px 0 8px #0082e0;
    float: left;
    height: 100%;
    padding-left: 16px;
    padding-bottom: 0px;
} 

.col1_table {
    width:400px;
    background:lightgray;
    float: left;
    height: 1100px;
    padding-left: 16px;
    padding-bottom: 0px;
} 

.col1_table {
    width:400px;
    background:lightgray;
    float: left;
    height: 1100px;
    padding-left: 16px;
    padding-bottom: 0px;
} 

.col1_table {
    width:400px;
    background:lightgray;
    float: left;
    height: 140%;
    padding-left: 16px;
    padding-bottom: 0px;
} 

section {
    display: block;
}

header {
    width:100%;
    overflow:hidden;
    height:110px;
}

header .right {
    width:600px
}

a {
    color:#1e749a;
    text-decoration:underline;
    outline:none
}
a:hover {
    text-decoration:none
}

.borrarButton {
    background:url(/Skins4-war/resources/images/delete-icon.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
} 

.leaveButton {
    background:url(/Skins4-war/resources/images/System-Logout-icon.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
}

.tableindex {
    margin-left: 550px;
    border-bottom: 5px solid #59bfff;
    border-top: 5px solid #59bfff;
    border-left: 5px solid #59bfff;
    border-right: 5px solid #59bfff;
    background: #fff;
    border-radius: 10px;
    width: 500px;
   
}


a:link, a:visited {
	color: #0082e0;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

img {
	border: none;
}

pre {
	max-width: 100%;
	overflow: auto;
	line-height: 1.4;
	background: #ffe;
	padding: 0.5em;
	border: 1px dotted #cc9;
}

pre, code, tt, kbd {
	font-family: "Andale Mono",courier,monospace;
}

.imageInicio {
    width: 950px;
    height: 700px;
    float:right;
    margin-right: 50px;
    color: #1e2023;
}

#site_content_login {
    width: 100%;
    overflow: auto;
    height: 100%;
    background:url(/Skins4-war/resources/images/gradiente_login.jpg) #1e2023;
}

.form_settings_mostrar {
    box-shadow: 0px 0px 8px #000000;
    padding: 5% 5% 5% 5%;
    width: 500px;
    margin: 15px 0 0 0;
    margin-left: 475px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Fallito con primefaces*/
.ui-tabs.ui-tabs-top > .ui-tabs-nav {
    height: 44px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-selected {
    background: #59BFFF; /*Color tab seleccionado*/
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #59BEEE; /*Color tab sin seleccionar*/
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
    color: white;/*Color del texto de los tabs*/
}

.form_settings_pressbutton {
    box-shadow: 0px 0px 10px #FFF;
    padding: 5% 5% 5% 5%;
    width: 500px;
    height: 300px;
    margin: 15px 0 0 0;
    margin-left: 475px;
    margin-top: 30px;
    margin-bottom: 150px;
}

li {
    color: #FFE;
}

table td {
    
    color: #000;
    font-size: large;
}

.textoBlanco {
    color: #fff;
    font-size: large;
    margin-left: 5px;
}

.ui-tabs {
    width: 100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    color:black;
}
